body{
	padding:0;
	margin: 0;
}

.CartScreen{
	margin:25vh 0 0 0;
}

.desktop_menu_item_selected_style_for_Cart_page{
	position:fixed;
	width:100vw;
	left:50%;
	transform: translate(-50%,0);
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	z-index: 99;
}

.nevigation_btn_background_style_in_Cart_page{
	height:3vh;
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:2vh 2vw;
	color:black;
/*	border-radius: 10px;*/
	text-decoration: none;
	font-weight: 550;
	transition: .2s;	
}

.bg_white{
	background: white;
}

.c{
	background:#E9BD42;
}

.o_s{
	flex:1.5;
}



.cart_products_area{
	height:auto;
	width:98vw;
	margin:0 0 0 50%;
	transform: translate(-50%,0);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vw 2vw;
	perspective: 50em;
	float:left;
}

.cartProduct{
	height:70vh;
	border-radius: 10px;
	overflow: hidden;
	float:left;
	cursor: pointer;
	display: flex;
	gap:1vh;
	flex-direction: column;
	text-decoration: none;
	color:black;
/*	border: 2px solid black;*/
/*	box-shadow: 0 0 10px black;*/
}

.cartProductImage{
	flex:5;
	width:100%;
	background-position: center center;
	transition: .4s;
}

.cart_product_name{
	flex:.2;
	width:20vw;
	padding:2vh 0 2vh 0;
	font-family: "Anton SC", sans-serif;
	float: left;
	transition: .4s;
}

.cart_price{
	flex:.2;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 25px ;
	font-weight: 525;
	transition: .4s;
}


.no_product_in_cart_area{
	height:80vh;
	width:95vw;
	margin:10vh 0 0 50%;
	transform: translate(-50%,0);
	font-family: verdana;	
	color:grey;
	display: flex;
	justify-content: center;
	align-items:center;
}


.detail_cart_product{
	position: fixed;
	top:2.5vh;
	padding:2vh 0;
	height:90vh;
	width:100vw;
	box-shadow: 0 0 200px black;
	overflow:scroll;
	overflow-x: hidden;
	backdrop-filter:blur(20px);
	z-index: 101;
	float: left;
	transition: .7s;
}

.exit_detail_screen{
	position: fixed;
	top:2.5vh;
	right:2%;
	background:black;
	color:white;
	padding:1vh 2vw;
	border-radius: 10px;
	cursor: pointer;
}


.product_detail_area{
	height:75vh;
	width:95%;
	margin-top:5vh;
	margin-left:50%;
	transform: translate(-50%,0);
	display: flex;
	gap:1vw;
}

.cart_product_detail_image_area{
	height:100%;
	flex: 1;
	display: flex;
	gap:1vw;
}

.cart_supporting_images_area{
	height:80%;
	flex:1;
	display: flex;
	flex-direction: column;
	gap:1vh;
}

.cart_supporting_image{
	flex:1;
	width:100%;
	cursor: pointer;
}

.cart_detail_leading_image{
	height:95%;
	flex:6;
	background-size: 75%;
}

.cart_product_detail_info_area{
	height:100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	gap:1vh;
}

.cart_detail_product_name{
	flex: 2;
	font-family: "Anton SC", sans-serif;
	font-size: 30px;
	width:100%;
}

.cart_detail_category_name{
	flex: 1;
	font-family: verdana;
	width:100%;
/*	color:#E9BD42;*/
	cursor: pointer;
}

.cart_detail_product_description{
	height:auto;
	padding:2vh 0;
	font-family: verdana;
	width:100%;
}

.cart_detail_price{
	flex: 1;
	font-weight: 900;
	font-size: 30px;
	width:100%;
}

.product_measurement_area{
	height:10vh;
	width:70vw;
	margin: 5vh 0 0 50%;
	transform: translate(-50%,0);
	display: flex;
	gap:2vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.size_text{
	flex:.5;
	font-weight: 600;
}

.sizes_area{
	flex:1;
	width:50vw;
	display: flex;
	gap: 1vw;
}

.size_btn{
	flex:1;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	border:2px solid black;
	cursor:pointer;
}


.quantity_area{
	height:5vh;
	width:25vw;
	margin: 5vh 0 0 50%;
	transform: translate(-50%,0);
	display: flex;
	gap:2vh;
	justify-content: center;
	align-items: center;
}

.decrease_auantity_btn{
	height:100%;
	flex:1;
	background:black;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
}

.quantity{
	height:100%;
	flex:1;
	background:white;
	color:black;
	display:flex;
	justify-content: center;
	align-items: center;
}

.increase_auantity_btn{
	height:100%;
	flex:1;
	background:black;
	color:white;
	display:flex;
	justify-content: center;
	align-items: center;
	cursor:pointer;
}

.cart_products_pricing_area{
	height:25vh;
	width:90%;
	margin:15vh 0 5vh 50%;
	transform: translate(-50%,0);
	padding:2vh 2vw;
	display: flex;
/*	border-top:2px solid black;*/
	float: left;
}

.lable_area{
	flex:4;
	display: flex;
	flex-direction: column;
	gap:1vh;
}

.total_price_lable{
	flex:1;
	display: flex;
	align-items: center;
}

.shipping_price_lable{
	flex:1;
	display: flex;
	align-items: center;
}

.total_purchase_price_lable{
	flex:1;
	border-top: 2px solid black;
	display: flex;
	align-items: center;
}

.total_price_area{
	flex:2;
	display: flex;
	flex-direction: column;
	gap: 1vh;
}

.total_product_price{
	flex:1;
	display: flex;
	align-items: center;

}

.shipping_price{
	flex:1;
	display: flex;
	align-items: center;
}

.total_purchase_price{
	flex:1;
	display: flex;
	align-items: center;
	border-top: 2px solid black;
}

.checkout_btn{
	width:40vw;
	padding:2vh 0;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	color:black;
	font-family: verdana;
	margin:5vh 0 10vh 50%;
	transform: translate(-50%,0);
	float: left;
	cursor: pointer;
	border:2px solid black;
	transition: .5s ;
}

.checkout_btn:hover{
	background: #E9BD42;
}

.checkouh_user_info_input_area{
	position: fixed;
	top:2.5vh;
	padding:2vh 0;
	height:90vh;
	width:100vw;
	box-shadow: 0 0 200px black;
	overflow:scroll;
	overflow-x: hidden;
	backdrop-filter:blur(20px);
	z-index: 101;
	float: left;
	transition: .7s;
}

.input_area{
	height:auto;
	width:90%;
	margin:5vh 0 0 50%;
	transform: translate(-50%,0);
	padding:2vh 0;

}

.use_name{
	width:100%;
	outline: none;
	border-bottom:4px solid black;
	border-top:0;
	border-left:0;
	border-right:0;
	padding:2vh 0 2vh 2vw;
	font-family: verdana;
	background:none;
	backdrop-filter: blur(20px);
	margin-top:5vh;
	margin-left:50%;
	transform: translate(-50%,0);
	float: left;
}
::placeholder {
  color: black;
  font-weight: 800;
  font-family: verdana;
}

.confirm_order_btn{
	width:40vw;
	margin:10vh 0 0 50%;
	transform: translate(-50%,0);
	padding:2vh 0;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	color:black;
	font-family: verdana;
	float: left;
	cursor: pointer;
	border:2px solid black;
	transition: .5s ;
}

.confirm_order_btn:hover{
	background: #E9BD42;
}

.checkoutId{
	height:5vh;
	width:80vw;
	float: left;
	color:black;
	text-align: center;
	font-weight: 800;
	margin-top: 5vh;
	margin-left: 50%;
	transform: translate(-50%,0);
}

.note{	
	height:5vh;
	width:80vw;
	float: left;
	color:black;
	text-align: center;
/*	font-weight: 800;*/
	margin-top: 1vh;
	margin-left: 50%;
	transform: translate(-50%,0);
}

@media(max-width:991px){
	.CartScreen{
		margin:15vh 0 0 0;
	}
	.desktop_menu_item_selected_style_for_Cart_page{
		height:0;
		width:0;
		font-size: 0;
	}
	.nevigation_btn_background_style_in_Cart_page{
		padding:0;
	}


	.cart_products_area{
		grid-template-columns: 1fr 1fr;
		grid-gap: 4vw 4vw;
	}
	.cartProduct{
		height:30vh;
		padding:1.5vw 1.5vw 2vh 1.5vw;
	}

	.cartProductImage{

		background-position: center center;
	}

	.cart_product_name{
		font-size: 12px;
	}

	.cart_price{
		font-size: 20px;
	}

	.detail_cart_product{
		top:0;
		height:100vh;
		box-shadow: 0 0 200px black;
	}

	.exit_detail_screen{
		background: #E9BD42;
		color:black;
		top:2.5vh;
		padding:2vh 5vw;
		z-index: 101;
	}

	.product_detail_area{
		margin-top:10vh;
		flex-direction: column;
		gap:4vh;
	}

	.cart_product_detail_image_area{
		height:100vh;
		flex-direction: column-reverse;
	}

	.cart_supporting_images_area{
		flex:1;
		flex-direction: row;
	}

	.cart_supporting_image{
		background-size: cover;
	}

	.cart_detail_leading_image{
		height:100vh;
		background-size: 100%;
		background-position: left center;
	}

	.cart_product_detail_info_area{
		flex:1;
	}

	.cart_detail_product_name{
		font-weight: 600;
	}

	.cart_detail_product_description{
		height:15vh;
		background: none;

		overflow-y: scroll ;
	}

	.quantity_area{
		width:40vw;
		margin:2vh 0 10vh 50%;
	}

	.checkout_btn{
		background: #E9BD42;
	}

	.checkouh_user_info_input_area{
		top:0;
		height:100vh;
		box-shadow: 0 0 200px black;
	}

	.confirm_order_btn{
		width:60vw;
		background: #E9BD42;
	}

}






































@media(min-width:1024px){
	.desktop_menu_item_selected_style_for_Cart_page{
		top:12vh;
	}
}


@media(min-width:1440px){
	.desktop_menu_item_selected_style_for_Cart_page{
		top:12vh;
	}
}
/*E9BD42*/