body{
	padding:0;
	margin: 0;
	width:100%;
	overflow-x: hidden;
}

.OrderStatusScreen{
	margin:25vh 0 0 0;
}

.desktop_menu_item_selected_style_for_order_status_page{
	position:fixed;
	width:100vw;
	left:50%;
	transform: translate(-50%,0);
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	z-index: 99;
}

.nevigation_btn_background_style_in_order_status_page{
	height:3vh;
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:2vh 2vw;
	color:black;
/*	border-radius: 10px;*/
	text-decoration: none;
	font-weight: 550;
	transition: .2s;	
}

.bg_white{
	background: white;
}

.o{
	background:#E9BD42;
}

.o_s{
	flex:1.5;
}


.cover{
	height:8vh;
	display: flex;
	gap:1vw;
	width:90vw;
	margin:10vh 0 0 50%;
	transform: translate(-50%,0);
}

.order_status_input{
	flex:5;
	outline: none;
	border-bottom:4px solid black;
	border-top:0;
	border-left:0;
	border-right:0;
	font-family: verdana;
	font-weight: 600;
	backdrop-filter: blur(20px);
	padding:.5vh 0 .5vh 2vw;
	margin:0 0 0 0;
/*	transform: translate(-50%,0);*/
}
::placeholder {
  color: black;
  font-weight: 600;
  font-size: 15px;
}

.search_btn_in_order_status{
	flex:1;
	padding:2vh 2vw;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	color:black;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border:2px solid black;  
	font-weight: 700;
	transition: .5s ;

}
.search_btn_in_order_status:hover{
	background: #E9BD42;
}

.see_status_btn{
	width:20vw;
	padding:2vh 0;
	text-align: center;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	color:black;
	margin:10vh 0 10vh 50%;
	transform: translate(-50%,0);
	float: left;
	cursor: pointer;
	border:2px solid black;  
	font-weight: 700;
	transition: .5s ;
}

.see_status_btn:hover{
	background: #E9BD42;
}

.order_status_area{
	position: fixed;
	padding:2vh 0;
	height:100vh;
	width:100vw;
	top:0;
	box-shadow: 0 0 200px black;
	overflow:scroll;
	overflow-x: hidden;
	backdrop-filter:blur(20px);
	z-index: 102;
	float: left;
	transition: .7s;
}

.exit_detail_screen{
	position: fixed;
	top:2.5vh;
	right:2%;
	background:black;
	color:white;
	padding:1vh 2vw;
	border-radius: 10px;
	cursor: pointer;
}



.cart_products_area{
	height:auto;
	width:100vw;
	margin:2.5vh 0 0 0;
	transform: translate(0,0);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vw 2vw;
	perspective: 50em;
	float:left;
}

.cartProduct{
	height:70vh;
	border-radius: 10px;
	overflow: hidden;
	float:left;
	cursor: pointer;
	display: flex;
	gap:1vh;
	padding:2vh 2vw;
	flex-direction: column;
	text-decoration: none;
	color:black;
	border: 2px solid black;
	box-shadow: 0 0 10px black;
}

.cartProductImage{
	flex:5;
	width:100%;
	background-position: center center;
	transition: .4s;
}

.cart_product_name{
	flex:.2;
	width:20vw;
	padding:2vh 0 2vh 0;
	font-family: "Anton SC", sans-serif;
	float: left;
	transition: .4s;
}

.cart_price{
	flex:.2;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 25px ;
	font-weight: 525;
	transition: .4s;
}

.quantity{	
	flex:.2;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 15px ;
	font-weight: 525;
	transition: .4s;
}

.size{	
	flex:.2;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 15px ;
	font-weight: 525;
	transition: .4s;
}

.footer{
	height:20vh;
	width:100vw;
	float: left;
	display: flex;
	border-top:2px solid black;
	flex-direction: column;
	gap:1vh;
	margin:20vh 0 0 0;
	padding:2vh 0;
}

.layer_1{
	flex: 1;
	width:50vw;
	margin:0 0 0 50%;
	transform: translate(-50%,0);
	display: flex;
	gap:1vw;
}

.logo_in_footer{
	flex:1;
	display: flex;
	text-decoration: none;
	color:black;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	font-family: "Anton SC", sans-serif;
}

.facebook{
	flex:1;
	display: flex;
	text-decoration: none;
	color:black;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	font-family: "Anton SC", sans-serif;
}

.instagram{
	flex:1;
	display: flex;
	text-decoration: none;
	color:black;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	font-family: "Anton SC", sans-serif;
}

.twitter{
	flex:1;
	display: flex;
	text-decoration: none;
	color:black;
	font-size: 25px;
	justify-content: center;
	align-items: center;
	font-family: "Anton SC", sans-serif;
}

.layer_2{
	flex: 1;
	width:90vw;
	margin:0 0 0 50%;
	transform: translate(-50%,0);
	color:grey;
	font-family: verdana;
	display: flex;
	justify-content: center;
	align-items: center;

}

@media(max-width:991px){
	.OrderStatusScreen{
		margin: 15vh 0 0 0;
	}
	.desktop_menu_item_selected_style_for_order_status_page{
		height:0;
		width:0;
		font-size: 0;
	}
	.nevigation_btn_background_style_in_order_status_page{
		padding:0;
	}

	.cover{
		height:5vh;
		gap:2vw;
		width:95vw;
		margin:10vh 0 0 2.5vw;
		transform: translate(0,0);
	}

	.search_btn_in_order_status{
		border-radius: 10px;
	}

	.order_status_input{
		width:90vw;
	}

	.see_status_btn{
		width:70vw;
		margin:10vh 0 10vh 15vw;
		transform: translate(0,0);
	}


	.cart_products_area{
		grid-template-columns: 1fr 1fr;
		grid-gap: 4vw 4vw;
	}
	.cartProduct{
		height:30vh;
		padding:1.5vw 1.5vw 2vh 1.5vw;
	}

	.cartProductImage{

		background-position: center center;
	}

	.cart_product_name{
		font-size: 12px;
	}

	.cart_price{
		font-size: 20px;
	}

	.footer{
		height:10vh;
	}

	.layer_1{
		width:70vw;
	}

	.logo_in_footer{
		font-size: 12px;
	}

	.facebook{
		font-size: 12px;
	}

	.instagram{
		font-size: 12px;
	}

	.twitter{
		font-size: 12px;
	}

}












































@media(min-width:1024px){
	.desktop_menu_item_selected_style_for_order_status_page{
		top:12vh;
	}
}


@media(min-width:1440px){
	.desktop_menu_item_selected_style_for_order_status_page{
		top:12vh;
	}
}
/*E9BD42*/