body{
	padding:0;
	margin: 0;
	width:100%;
	overflow-x:hidden ;
}

::-webkit-scrollbar{
  width:.7em;
}
::-webkit-scrollbar-track{
  background:rgba(0,0,0,.01);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb{
  background:black;
  border-radius: 10px;
}

.CategoryScreen{
	margin:25vh 0 0 0;
}

.desktop_menu_item_selected_style_for_category_page{
	position:fixed;
	width:100vw;
	left:50%;
	transform: translate(-50%,0);
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	z-index: 99;
}

.nevigation_btn_background_style_in_category_page{
	height:3vh;
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:2vh 2vw;
	color:black;
/*	border-radius: 10px;*/
	text-decoration: none;
	font-weight: 550;
	transition: .2s;	
}

.bg_white{
	background: white;
}

.c{
	background:#E9BD42;
}

.o_s{
	flex:1.5;
}



.card{
	position: sticky;
	top:0;
	height:70vh;
	width:40vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	margin:2.5vh 0 2.5vh 50%;
	border-radius: 20px;
	text-decoration: none;
	color:white;
	font-size: 40px;
	box-shadow: 0 0 10px black;
	transform: translate(-50%,0);
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	transition: .4s;
}

.layer{
	position: absolute;
	top:0;
	left:0;
	content:'';
	height:100%;
	width:100%;
	background: rgba(0,0,0,.7);
}

.categoryName{
	color:white;
	z-index: 100;
}


@media(max-width:991px){
	.CategoryScreen{
		margin:15vh 0 0 0;
	}
	.desktop_menu_item_selected_style_for_category_page{
		height:0;
		width:0;
		font-size: 0;
	}
	.nevigation_btn_background_style_in_category_page{
		padding:0;
	}

	.card{
		height:80vh;
		width:90vw;
	}
}












































@media(min-width:1024px){
	.desktop_menu_item_selected_style_for_category_page{
		top:12vh;
	}
}


@media(min-width:1440px){
	.desktop_menu_item_selected_style_for_category_page{
		top:12vh;
	}
}
/*E9BD42*/