body{
	padding:0;
	margin: 0;
}

.ProductsScreen{
	margin:25vh 0 0 0;
}

.desktop_menu_item_selected_style_for_books_page{
	position:fixed;
	width:100vw;
	left:50%;
	transform: translate(-50%,0);
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
	z-index: 99;
}

.nevigation_btn_background_style_in_books_page{
	height:3vh;
	flex:1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:2vh 2vw;
	color:black;
/*	border-radius: 10px;*/
	text-decoration: none;
	font-weight: 550;
	transition: .2s;	
}

.bg_white{
	background: white;
}

.b{
	background:#E9BD42;
}

.o_s{
	flex:1.5;
}

.products_area{
	height:auto;
	width:98vw;
	margin:0 0 0 50%;
	transform: translate(-50%,0);
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 2vw 2vw;
	perspective: 50em;
}

.product{
	height:70vh;
	border-radius: 10px;
	overflow: hidden;
	float:left;
	cursor: pointer;
	display: flex;
	gap:1vh;
	flex-direction: column;
	text-decoration: none;
	color:black;
/*	border: 2px solid black;*/
/*	box-shadow: 0 0 10px black;*/
}

.image{
	flex:5;
	width:100%;
	background-position: center center;
	transition: .4s;
}

.product_name{
	flex:.2;
	width:20vw;
	padding:2vh 0 2vh 0;
	font-family: verdana;
	float: left;
	transition: .4s;
}

.price{
	flex:.2;
	width:20vw;
	font-family: verdana;
	float: left;
	font-size: 25px ;
	font-weight: 525;
	transition: .4s;
}

@media(max-width:991px){
	.ProductsScreen{
		margin: 15vh 0 0 0;
	}
	.desktop_menu_item_selected_style_for_books_page{
		height:0;
		width:0;
		font-size: 0;
	}
	.nevigation_btn_background_style_in_books_page{
		padding:0;
	}



	.products_area{
		grid-template-columns: 1fr 1fr;
		grid-gap: 4vw 4vw;
	}
	.product{
		height:30vh;
		padding:1.5vw 1.5vw 2vh 1.5vw;
	}

	.image{

		background-position: center center;
	}

	.product_name{
		font-size: 12px;
	}

	.price{
		font-size: 20px;
	}

}




































@media(min-width:1024px){
	.desktop_menu_item_selected_style_for_books_page{
		top:12vh;
	}
}


@media(min-width:1440px){
	.desktop_menu_item_selected_style_for_books_page{
		top:12vh;
	}
}
/*E9BD42*/